<div class="margin-global ion-text-center">

  <ion-card class="glass">
    <ion-text color="dark" class="title-card">
      <p>ABOUT</p>
    </ion-text>
    <ion-card-content>
      <br><br>
      <ion-row>
        <ion-col *ngFor="let icon of icons">
          <ion-icon size="large" name="{{icon}}" color="dark"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-text color="dark">
            Hi, I'm Jocimar Lopes from Brazil, I love technology and development area, "Less is more" and the design is very important, every details matters. I develop hybrids Apps with Ionic/ReactNative frameworks and backend I prefer coding with Python. 
          </ion-text>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</div>