<div class="margin-global ion-text-center">

  <ion-card class="glass">
    <ion-text color="dark" class="title-card">
      <p>ABOUT</p>
    </ion-text>
    <ion-card-content>
      <br><br>
      <ion-row>
        <ion-col *ngFor="let icon of icons">
          <ion-icon size="large" name="{{icon}}" color="dark"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-text color="dark">
            <p class="texto">
              Hello! I'm from south of Brazil, a city called Osório, actually I'm a Full-Stack Developer.
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</div>