.name {
    font-size: 27px;
}
.picture {
    margin-top: 21px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.content-buttons {
    display: flex;
    justify-content: space-around;
}