<div class="margin-global ion-text-center">

  <ion-card class="glass ion-padding-bottom">
    <ion-text color="dark" class="title-card">
      <p>{{ 'INTERESTS.TITLE_CARD' | translate }}</p>
    </ion-text>
    <ion-card-content>
      <br><br>
      <ion-row>
        <ion-col size="12">
          <ion-text color="dark">
            <p class="text-animated" [innerHTML]="'INTERESTS.DESCRIPTION' | translate ">
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-icon size="large" class="interests-icons" name="musical-notes"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon size="large" class="interests-icons" name="code-slash"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon size="large" class="interests-icons" name="cafe"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon size="large" class="interests-icons" name="game-controller"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</div>