<div class="margin-global ion-text-center">

  <ion-card class="glass ion-padding-bottom">
    <ion-text color="dark" class="title-card">
      <p>INTERESSES</p>
    </ion-text>
    <ion-card-content>
      <br><br>
      <ion-row>
        <ion-col size="12">
          <ion-text color="dark">
            <p>
              A primeira coisa que faço pela manha é tomar um café bem forte para começar bem o dia.<br>
              Desenvolver sistemas ouvindo músicas já chega a ser um hobbie! Amo esses momentos de solitude <br>com os códigos, me encontro nisso.<br>
              Gosto também de jogar videogames com o meu filho e aproveitar momentos com a família.
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-icon size="large" color="dark" name="musical-notes"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon size="large" color="dark" name="code-slash"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon size="large" color="dark" name="cafe"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon size="large" color="dark" name="game-controller"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</div>