<div class="margin-global ion-text-center">

  <ion-card class="glass ion-padding-bottom">
    <ion-text color="dark" class="title-card">
      <p>{{'EDUCATION.TITLE_CARD' | translate}}</p>
    </ion-text>
    <ion-card-content>
      <br><br>
      <ion-row>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p>{{'EDUCATION.EDUCATION_TWO.COURSE' | translate}}</p>
              <p>{{'EDUCATION.EDUCATION_TWO.TIME' | translate}}</p>
              <p>{{'EDUCATION.EDUCATION_TWO.INSTITUTION' | translate}}</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p>{{'EDUCATION.EDUCATION_ONE.COURSE' | translate}}</p>
              <p>{{'EDUCATION.EDUCATION_ONE.TIME' | translate}}</p>
              <p>{{'EDUCATION.EDUCATION_ONE.INSTITUTION' | translate}}</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</div>