<div class="margin-global ion-text-center">

  <ion-card id="skills-content" class="glass ion-padding-bottom">
    <ion-text color="dark" class="title-card">
      <p>SKILLS</p>
    </ion-text>
    <ion-card-content>
      <br><br>
      <ion-row>
        <ion-col size="{{screen > 800 ? 6 : 12}}">
          <ion-text color="dark">
            <p>
              Linguagens/Frameworks
            </p>
          </ion-text>
          <ion-item *ngFor="let skill of languages" lines="none" color="transparent">
            <p class="title-skill">{{skill.title}}</p>
            <div class="progress-bar-content">
              <ion-progress-bar class="progress-bar-left" color="dark" [value]="skill.value"></ion-progress-bar>
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="{{screen > 800 ? 6 : 12}}">
          <ion-text color="dark">
            <p>
              Softwares/Serviços
            </p>
          </ion-text>
          <ion-item *ngFor="let skill of softwares" lines="none" color="transparent">
            <p class="title-skill">{{skill.title}}</p>
            <div class="progress-bar-content">
              <ion-progress-bar class="progress-bar-right" color="dark" [value]="skill.value"></ion-progress-bar>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</div>