<div class="margin-global ion-text-center">

  <ion-card class="glass ion-padding-bottom">
    <ion-text color="dark" class="title-card">
      <p>EXPERIÊNCIA</p>
    </ion-text>
    <ion-card-content>
      <br><br>
      <ion-row>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p>Estagiário de TI</p>
              <p>ABR/2011 - DEZ/2012</p>
              <p>Faculdade Cenecista de Osório</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p>Freelancer - Desenvolvedor Mobile</p>
              <p>OUT/2016 - FEV/2017</p>
              <p>Coopera Digital</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p>Freelancer - Desenvolvedor Mobile</p>
              <p>OUT/2018 - ABR/2019</p>
              <p>MyBelt Systems</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p>CEO - Desenvolvedor de Software</p>
              <p>OUT/2020 - ABR/22</p>
              <p>Home Company</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p>Desenvolvedor Mobile</p>
              <p>FEV/2022 - JUN/2022</p>
              <p>MJV Technology & Innovation</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p>Desenvolvedor de Software</p>
              <p>MAR/2019 - NOV/22</p>
              <p>Freelancer</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p>Analista Desenvolvedor de Sistemas</p>
              <p>NOV/2022 - FEV/2024</p>
              <p>Stefanini Brasil (Bradesco Seguros)</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="line-end">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</div>