<div class="margin-global ion-text-center">

  <ion-card class="glass ion-padding-bottom">
    <ion-text color="dark" class="title-card">
      <p>{{'EXPERIENCE.TITLE_CARD' | translate}}</p>
    </ion-text>
    <ion-card-content>
      <br><br>
      <ion-row>
        <ion-col size="5">
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_FIVE.OCCUPATION' | translate}}</p>
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_FIVE.TIME' | translate}}</p>
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_FIVE.COMPANY' | translate}}</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_FOUR.OCCUPATION' | translate}}</p>
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_FOUR.TIME' | translate}}</p>
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_FOUR.COMPANY' | translate}}</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_THREE.OCCUPATION' | translate}}</p>
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_THREE.TIME' | translate}}</p>
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_THREE.COMPANY' | translate}}</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_TWO.OCCUPATION' | translate}}</p>
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_TWO.TIME' | translate}}</p>
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_TWO.COMPANY' | translate}}</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
        </ion-col>
        <ion-col size="2">
          <div class="line">
            <div class="ball"></div>
          </div>
        </ion-col>
        <ion-col size="5">
          <div class="item-education">
            <ion-text color="dark">
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_ONE.OCCUPATION' | translate}}</p>
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_ONE.TIME' | translate}}</p>
              <p class="text-animated">{{'EXPERIENCE.EXPERIENCE_ONE.COMPANY' | translate}}</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</div>